<div class="o-ngx-gallery-thumbnails-wrapper o-ngx-gallery-thumbnail-size-{{size}}">
    <div class="o-ngx-gallery-thumbnails" [style.transform]="'translateX(' + thumbnailsLeft + ')'"
        [style.marginLeft]="thumbnailsMarginLeft">
        <div *ngFor="let image of getImages(); let i = index;">
            <a [href]="hasLink(i) ? links[i] : '#'" [target]="linkTarget" class="o-ngx-gallery-thumbnail"
                [style.width]="getThumbnailWidth()" (click)="handleClick($event, i)"
                [style.height]="getThumbnailHeight()" [style.left]="getThumbnailLeft(i)"
                [style.top]="getThumbnailTop(i)"
                [ngClass]="{ 'o-ngx-gallery-active': i == selectedIndex, 'o-ngx-gallery-clickable': clickable }"
                [attr.aria-label]="labels[i]">
                <div *ngIf="getFileType(image) == 'image'" [style.background-image]="getSafeUrl(image)"
                    class="o-ngx-gallery-thumbnail"
                    [ngClass]="{ 'o-ngx-gallery-active': i == selectedIndex, 'o-ngx-gallery-clickable': clickable }"
                    style="width: 100%; height: 100%; position:absolute;"></div>
                <video *ngIf="getFileType(image) == 'video'" class="o-ngx-gallery-thumbnail"
                    [ngClass]="{ 'o-ngx-gallery-active': i == selectedIndex, 'o-ngx-gallery-clickable': clickable }"
                    style="width: 100%; height: 100%; position:absolute;">
                    <source [src]="image">
                    Your browser does not support the video tag.
                </video>
                <div class="o-ngx-gallery-icons-wrapper">
                    <o-gallery-action *ngFor="let action of actions" [icon]="action.icon" [disabled]="action.disabled"
                        [titleText]="action.titleText" (onClick)="action.onClick($event, i)"></o-gallery-action>
                </div>
                <div class="o-ngx-gallery-remaining-count-overlay"
                    *ngIf="remainingCount && remainingCountValue && (i == (rows * columns) - 1)">
                    <span class="o-ngx-gallery-remaining-count">+{{remainingCountValue}}</span>
                </div>
            </a>
        </div>
    </div>
</div>
<o-gallery-arrows *ngIf="canShowArrows()" (onPrevClick)="moveLeft()" (onNextClick)="moveRight()"
    [prevDisabled]="!canMoveLeft()" [nextDisabled]="!canMoveRight()" [arrowPrevIcon]="arrowPrevIcon"
    [arrowNextIcon]="arrowNextIcon"></o-gallery-arrows>