<o-gallery-arrows *ngIf="arrows" (onPrevClick)="showPrev()" (onNextClick)="showNext()" [prevDisabled]="!canShowPrev()"
    [nextDisabled]="!canShowNext()" [arrowPrevIcon]="arrowPrevIcon" [arrowNextIcon]="arrowNextIcon">
</o-gallery-arrows>
<div class="o-ngx-gallery-preview-top">
    <div class="o-ngx-gallery-preview-icons">
        <o-gallery-action *ngFor="let action of actions" [icon]="action.icon" [disabled]="action.disabled"
            [titleText]="action.titleText" (onClick)="action.onClick($event, index)"></o-gallery-action>
        <a *ngIf="download && src" [href]="src" class="o-ngx-gallery-icon" aria-hidden="true" download>
            <i class="o-ngx-gallery-icon-content {{ downloadIcon }}"></i>
        </a>
        <o-gallery-action *ngIf="zoom" [icon]="zoomOutIcon" [disabled]="!canZoomOut()" (onClick)="zoomOut()">
        </o-gallery-action>
        <o-gallery-action *ngIf="zoom" [icon]="zoomInIcon" [disabled]="!canZoomIn()" (onClick)="zoomIn()">
        </o-gallery-action>
        <o-gallery-action *ngIf="rotate" [icon]="rotateLeftIcon" (onClick)="rotateLeft()"></o-gallery-action>
        <o-gallery-action *ngIf="rotate" [icon]="rotateRightIcon" (onClick)="rotateRight()"></o-gallery-action>
        <o-gallery-action *ngIf="fullscreen" [icon]="'o-ngx-gallery-fullscreen ' + fullscreenIcon"
            (onClick)="manageFullscreen()"></o-gallery-action>
        <o-gallery-action [icon]="'o-ngx-gallery-close ' + closeIcon" (onClick)="close()"></o-gallery-action>
    </div>
</div>
<div class="ngx-spinner-wrapper o-ngx-gallery-center" [class.o-ngx-gallery-active]="showSpinner">
    <i class="o-ngx-gallery-icon o-ngx-gallery-spinner {{spinnerIcon}}" aria-hidden="true"></i>
</div>
<div class="o-ngx-gallery-preview-wrapper" (click)="closeOnClick && close()" (mouseup)="mouseUpHandler($event)"
    (mousemove)="mouseMoveHandler($event)" (touchend)="mouseUpHandler($event)" (touchmove)="mouseMoveHandler($event)">
    <div class="o-ngx-gallery-preview-img-wrapper">
        <img *ngIf="src && type == 'image'" #previewImage class="o-ngx-gallery-preview-img o-ngx-gallery-center" [src]="src"
            (click)="$event.stopPropagation()" (mouseenter)="imageMouseEnter()" (mouseleave)="imageMouseLeave()"
            (mousedown)="mouseDownHandler($event)" (touchstart)="mouseDownHandler($event)"
            [class.o-ngx-gallery-active]="!loading" [class.animation]="animation"
            [class.o-ngx-gallery-grab]="canDragOnZoom()" [style.transform]="getTransform()"
            [style.left]="positionLeft + 'px'" [style.top]="positionTop + 'px'" />\
        <video *ngIf="src && type == 'video'" #previewImage controls style="width: 100%; height: 100%;" \
            class="o-ngx-gallery-preview-img o-ngx-gallery-center" \ (click)="$event.stopPropagation()"
            (mouseenter)="imageMouseEnter()" (mouseleave)="imageMouseLeave()" (mousedown)="mouseDownHandler($event)"
            (touchstart)="mouseDownHandler($event)" \ [class.o-ngx-gallery-active]="!loading"
            [class.animation]="animation" [class.o-ngx-gallery-grab]="canDragOnZoom()" [style.transform]="getTransform()"
            [style.left]="positionLeft + 'px'" [style.top]="positionTop + 'px'"> \
            <source [src]="src">\
            Your browser does not support the video tag.\
        </video>
        <o-gallery-bullets *ngIf="bullets" [count]="images.length" [active]="index" (onChange)="showAtIndex($event)">
        </o-gallery-bullets>
    </div>
    <div class="o-ngx-gallery-preview-text" *ngIf="showDescription && description" [innerHTML]="description"
        (click)="$event.stopPropagation()"></div>
</div>