<div class="o-ngx-gallery-layout {{currentOptions?.layout}}">
    <o-gallery-image *ngIf="currentOptions?.image" [style.height]="getImageHeight()" [images]="mediumImages"
        [clickable]="currentOptions?.preview" [selected-index]="selectedIndex" [arrows]="currentOptions?.imageArrows"
        [arrows-auto-hide]="currentOptions?.imageArrowsAutoHide" [arrow-prev-icon]="currentOptions?.arrowPrevIcon"
        [arrow-next-icon]="currentOptions?.arrowNextIcon" [swipe]="currentOptions?.imageSwipe"
        [animation]="currentOptions?.imageAnimation" [size]="currentOptions?.imageSize"
        [auto-play]="currentOptions?.imageAutoPlay" [auto-play-interval]="currentOptions?.imageAutoPlayInterval"
        [auto-play-pause-on-hover]="currentOptions?.imageAutoPlayPauseOnHover"
        [infinity-move]="currentOptions?.imageInfinityMove" [lazy-loading]="currentOptions?.lazyLoading"
        [actions]="currentOptions?.imageActions" [descriptions]="descriptions"
        [show-description]="currentOptions?.imageDescription" [bullets]="currentOptions?.imageBullets"
        (onClick)="openPreview($event)" (onActiveChange)="selectFromImage($event)"></o-gallery-image>

    <o-gallery-thumbnails *ngIf="currentOptions?.thumbnails" [style.marginTop]="getThumbnailsMarginTop()"
        [style.marginBottom]="getThumbnailsMarginBottom()" [style.height]="getThumbnailsHeight()" [images]="smallImages"
        [links]="currentOptions?.thumbnailsAsLinks ? links : []" [labels]="labels"
        [link-target]="currentOptions?.linkTarget" [selected-index]="selectedIndex"
        [columns]="currentOptions?.thumbnailsColumns" [rows]="currentOptions?.thumbnailsRows"
        [margin]="currentOptions?.thumbnailMargin" [arrows]="currentOptions?.thumbnailsArrows"
        [arrows-auto-hide]="currentOptions?.thumbnailsArrowsAutoHide" [arrow-prev-icon]="currentOptions?.arrowPrevIcon"
        [arrow-next-icon]="currentOptions?.arrowNextIcon" [clickable]="currentOptions?.image || currentOptions?.preview"
        [swipe]="currentOptions?.thumbnailsSwipe" [size]="currentOptions?.thumbnailSize"
        [move-size]="currentOptions?.thumbnailsMoveSize" [order]="currentOptions?.thumbnailsOrder"
        [remaining-count]="currentOptions?.thumbnailsRemainingCount" [lazy-loading]="currentOptions?.lazyLoading"
        [actions]="currentOptions?.thumbnailActions" (onActiveChange)="selectFromThumbnails($event)">
    </o-gallery-thumbnails>

    <o-gallery-preview [images]="bigImages" [descriptions]="descriptions"
        [show-description]="currentOptions?.previewDescription" [arrow-prev-icon]="currentOptions?.arrowPrevIcon"
        [arrow-next-icon]="currentOptions?.arrowNextIcon" [close-icon]="currentOptions?.closeIcon"
        [fullscreen-icon]="currentOptions?.fullscreenIcon" [spinner-icon]="currentOptions?.spinnerIcon"
        [arrows]="currentOptions?.previewArrows" [arrows-auto-hide]="currentOptions?.previewArrowsAutoHide"
        [swipe]="currentOptions?.previewSwipe" [fullscreen]="currentOptions?.previewFullscreen"
        [force-fullscreen]="currentOptions?.previewForceFullscreen" [close-on-click]="currentOptions?.previewCloseOnClick"
        [close-on-esc]="currentOptions?.previewCloseOnEsc"
        [keyboard-navigation]="currentOptions?.previewKeyboardNavigation" [animation]="currentOptions?.previewAnimation"
        [auto-play]="currentOptions?.previewAutoPlay" [auto-play-interval]="currentOptions?.previewAutoPlayInterval"
        [auto-play-pause-on-hover]="currentOptions?.previewAutoPlayPauseOnHover"
        [infinity-move]="currentOptions?.previewInfinityMove" [zoom]="currentOptions?.previewZoom"
        [zoom-step]="currentOptions?.previewZoomStep" [zoom-max]="currentOptions?.previewZoomMax"
        [zoom-min]="currentOptions?.previewZoomMin" [zoom-in-icon]="currentOptions?.zoomInIcon"
        [zoom-out-icon]="currentOptions?.zoomOutIcon" [actions]="currentOptions?.actions"
        [rotate]="currentOptions?.previewRotate" [rotate-left-icon]="currentOptions?.rotateLeftIcon"
        [rotate-right-icon]="currentOptions?.rotateRightIcon" [download]="currentOptions?.previewDownload"
        [download-icon]="currentOptions?.downloadIcon" [bullets]="currentOptions?.previewBullets"
        (onClose)="PreviewClose()" (onOpen)="PreviewOpen()" (onActiveChange)="previewSelect($event)"
        [class.o-ngx-gallery-active]="previewEnabled"></o-gallery-preview>
</div>