<div class="o-ngx-gallery-arrow-wrapper o-ngx-gallery-arrow-left">
    <div class="o-ngx-gallery-icon o-ngx-gallery-arrow" aria-hidden="true" (click)="handlePrevClick()"
        [class.o-ngx-gallery-disabled]="prevDisabled">
        <i class="o-ngx-gallery-icon-content {{arrowPrevIcon}}"></i>
    </div>
</div>
<div class="o-ngx-gallery-arrow-wrapper o-ngx-gallery-arrow-right">
    <div class="o-ngx-gallery-icon ngx-gallery-arrow" aria-hidden="true" (click)="handleNextClick()"
        [class.o-ngx-gallery-disabled]="nextDisabled">
        <i class="o-ngx-gallery-icon-content {{arrowNextIcon}}"></i>
    </div>
</div>